@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400');

$white : #FFFFFF;
$black : #000000;
$gray : #D4D4D4;
$overlay-color : #2C2D33;
$dark-blue : #252B51;
//$green : #00AD6E;
$green : #E72530;

$red : #E72530;
$blue : #19B5FE;
$yellow : #F89406;
$aqua : #7FDBFF;

//$base-font: "weblysleek_uilight", sans-serif;
$base-font : "Lato", sans-serif;
$code-font : "LiberationMonoRegular", monospace;
// break point
$small : 750px;