<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% if page.title %}
  <title>{{ page.title | markdownify | strip_html | strip_newlines | escape_once }} &#8211; {{ site.data.global.title }}</title>
  {% else %}
  <title>{{ site.data.global.title }}</title>
  {% endif %}
  {% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
  {% else %}
  <meta name="description" content="{{ site.data.global.description }}">
  {% endif %}
  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
  <!-- Twitter Cards -->
  {% if page.image %}{% capture image %}{{ page.image }}{% endcapture %}{% unless image contains 'http://' or image contains 'https://' %}{% capture image %}{{ site.data.global.baseurl }}/{{ image }}{% endcapture %}{% endunless %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ image }}">
  {% else %}<meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.data.global.logo }}">{% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.global.title }}{% endif %}">
  {% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
  {% if site.data.social.twitter %}<meta name="twitter:site" content="@{{ site.data.social.twitter }}">
  <meta name="twitter:creator" content="@{{ site.data.social.twitter }}">{% endif %}
  <!-- Open Graph -->
  <meta property="og:locale" content="{{ site.data.global.locale }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.global.title }}{% endif %}">
  {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.data.global.baseurl }}">
  <meta property="og:site_name" content="{{ site.data.global.title }}">
  <meta property="og:image" content="{{ site.data.global.baseurl }}images/{{ site.data.global.logo }}">
  {% capture canonical %}{{ site.data.global.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <!-- Handheld -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Feed -->
  {% feed_meta %}
  <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" href="{{ site.data.global.baseurl }}/favicon.png" />
  <link rel="shortcut icon" href="{{ site.data.global.baseurl }}/favicon.ico" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ site.data.global.baseurl }}/assets/css/main.css">
  <!-- Left Block Image for Posts -->
  {% if page.image %}
  {% capture image %}{{ page.image }}{% endcapture %}
  {% unless image contains 'http://' or image contains 'https://' %}{% capture image %}{{ site.data.global.url }}/{{ image }}{% endcapture %}{% endunless %}
  <style type="text/css">
    #posts.inner-post-page .block-left {background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{ image }}) no-repeat;background-size: cover; background-position: center;}
  </style>
  {% else %}
  <style type="text/css">
    #posts.inner-post-page .block-left {background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{ site.data.global.baseurl }}/{{ site.data.global.background.default-post }}) no-repeat;background-size: cover; background-position: center;}
  </style>
  {% endif %}
  <!-- Left Block Images for Home and Pages -->
  <style type="text/css">
    #posts .block-left {background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{ site.data.global.baseurl }}/{{ site.data.global.background.post-list }}) no-repeat;background-size: cover, cover; background-position: center;}
    .block-left {background: linear-gradient(rgba(44,45,51,0.6), rgba(44,45,51,0.6)), url({{ site.data.global.baseurl }}/{{ site.data.global.background.homepage }}) no-repeat;background-size: cover; background-position: center;}
  </style>
</head>
